p{
    font-weight: bold;
}
#Top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color: rgb(20, 15, 100);
}

body{
    background-color: rgb(204, 193, 188);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
    border: 5px solid black;
    padding: 20px;
}

.centered-stuff{
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
}

/* this is the old */